@import '@styles/variables';

.business-info {
  &-title {
    background: $mercury;
    padding: 8px 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $black;
  }

  &-body {
    padding: 20px;
    background-color: $alabaster;
  }

  &-actions {
    border-top: solid 1px $silver;
    text-align: center;
    padding-top: 20px;
  }

  &-row {
    display: flex;
    justify-content: space-between;
  }
}

.icon-delete {
  margin-top: 2px;
  padding: 5px;
}

.question-note {
  font-size: 12px;
  line-height: 14px;
  color: $black;
}
