@import "@styles/variables";
@import "@styles/mixins";

.follow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: set-vw(25);
  border-top: 1px solid $border-color-primary;
  background-color: $white;

  .info {
    display: flex;
    font-weight: 400;
    margin-right: set-vw(30);
    color: $black;
    @include fs-vw(24);
    .count {
      display: block;
      color: $malibu;
      margin-left: set-vw(20);
    }
  }
  .btnFollow {
    color: $white;
    font-weight: bold;
    background-color: $black;
    border-radius: 8px;
    padding: 0 set-vw(7);
    height: set-vw(40) !important;
    @include fs-vw(22);
    line-height: set-vw(20);
  }
}
