@import "@styles/variables";
@import "@styles/mixins";
.tooltipModal {
  :global {
    .ant-modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: set-vw(84) set-vw(46) set-vw(296);
    }
  }

  .content {
    white-space: break-spaces;
    @include fs-vw(26);
    font-weight: 400;
    text-align: left;
    margin-bottom: set-vw(30);
  }
}
