@import "@styles/variables";
@import "@styles/mixins";

.container {
  padding-top: set-vw(100);
  .banner {
    margin-top: set-vw(40);
    background-color: $white;
    @include fs-vw(28);
    line-height: set-vw(72);
    font-weight: bold;
    text-align: center;
  }
  .btnPreview {
    display: block;
    width: set-vw(420);
    margin: set-vw(40) auto 0;
    background-color: $malibu;
  }
  .content {
    margin-top: set-vw(87);
    padding: 0 set-vw(30);
    .label {
      @include fs-vw(26);
      font-weight: bold;
    }
    .note {
      margin-top: set-vw(20);
      @include fs-vw(20);
      font-weight: bold;

      .versionNote {
        margin-left: set-vw(20);
        display: block;
      }
    }
    .desc {
      display: flex;
      margin-top: set-vw(20);
      background-color: $white;
      padding: set-vw(30) 0;
      .descItem {
        padding: 0 set-vw(30);
        @include fs-vw(20);
        &:first-child {
          padding-left: set-vw(19);
          border-right: 1px solid $border-color-primary;
        }
        .descItemTitle {
          @include fs-vw(20);
          font-weight: bold;
        }
      }
    }
  }
  .btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-bottom: set-vw(120);
    .btnSubmit,
    .btnSaveDraft {
      width: set-vw(300);
    }
    .btnSubmit {
      background-color: $malibu;
      margin-top: set-vw(50);
    }
    .btnSaveDraft {
      background-color: $text-color;
      margin-top: set-vw(30);
    }
  }
}

.preview {
  max-width: $max-width;
  margin: 0 auto;
  top: 0;
  height: 100vh;
  :global {
    .ant-modal-header {
      background: $malibu;
      border-bottom: none;
      padding: set-vw(31) set-vw(25) set-vw(30);
      .ant-modal-title {
        @include fs-vw(28);
        line-height: set-vw(28);
      }
    }
    .ant-modal-close {
      top: set-vw(17);
      right: set-vw(25);
      .ant-modal-close-x {
        // width: set-vw(41);
        // height: set-vw(43);
        // line-height: set-vw(56);
        margin: 0;
      }
    }
    .ant-modal-body {
      padding: 0;
      border: set-vw(10) solid $malibu;
      background-color: #f2f2f2;
      border-top: unset;
      height: calc(100vh - set-vw(89));
      overflow-y: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .icClose {
    width: set-vw(41);
    height: set-vw(43);
  }
}
