@import "@styles/variables";
@import "@styles/mixins";

.container {
  padding: 0 set-vw(30) set-vw(100); // padding bot = height menu 100
  background: #f2f2f2;
  .infiniteScroll {
    overflow: unset !important;
  }
}

.totalResult {
  font-weight: bold;
  font-size: set-vw(24);
  line-height: set-vw(24);
  color: $black;
}
.switching {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // padding-top: set-vw(30);
  // margin-bottom: set-vw(30);
}

.label {
  font-style: normal;
  font-weight: 400;
  @include fs-vw(26);
  color: $text-color;
}

.icon {
  width: set-vw(36);
  // height: set-vw(36);
  cursor: pointer;
  margin-left: set-vw(30);
}

.icon img {
  width: 100%;
  height: 100%;
}
