.ant-pagination {
  margin-top: 0.75rem;
  font-size: 0.8rem;
  text-align: center;

  &-item {
    min-width: auto;
    height: auto;
    line-height: 1.5;
    background: transparent;
    border: 0;
    border-radius: 0;

    &:focus {
      a {
        color: white;
      }
    }

    &-active {
      background: black;
      color: white;

      a {
        color: white;
      }
    }
  }
}
