@import "@styles/variables";
@import "@styles/mixins";

.history {
  background: #f2f2f2;
  padding: set-vw(30);
  .historyList {
    // padding-bottom: set-vw(40);
    .historyItem {
      position: relative;
      @include fs-vw(20);
      position: relative;
      background-color: $white;
      min-height: set-vw(107);
      padding: set-vw(20) set-vw(29) set-vw(29) set-vw(29);
      margin-bottom: set-vw(20);
      font-weight: bold;
      color: $black;
      border-radius: set-vw(4);
      .textLink {
        color: #66ccff;
        cursor: pointer;
      }
      .head {
        display: flex;
        justify-content: space-between;
        .avatarWrapper {
          display: flex;
          width: 70%;
          .avatar {
            width: set-vw(40);
            height: set-vw(40);
            flex-shrink: 0;
            cursor: pointer;
            img {
              border-radius: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .name {
            font-weight: 700;
            line-height: set-vw(40);
            margin-left: set-vw(10);
            width: 100%;
            color: $text-color;
            cursor: pointer;
          }
        }
      }
      .date {
        color: #999;
        max-width: 30%;
        font-weight: 400;
        line-height: set-vw(40);
      }
      .content {
        margin-top: set-vw(20);
        color: $text-color;
        vertical-align: baseline;
      }
      .imgPost {
        width: 100%;
        height: set-vw(355);
        margin-top: set-vw(20);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover !important;
          overflow: hidden !important;
        }
      }
    }
  }
  .btnShowAll {
    display: block;
    height: set-vw(80);
    width: set-vw(300);
    padding: 0;
    margin: 0 auto;
    background-color: $black;
    color: $white;
    text-align: center;
    font-weight: bold;
    @include fs-vw(28);
    line-height: set-vw(80);
    border-radius: 5px;
  }

  .noData {
    // font-weight: 700;
    text-align: center;
    color: #333333;
    @include fs-vw(28);
  }

  .listBanner {
    display: flex;
    flex-direction: column;
    gap: set-vw(30);
    margin-top: set-vw(50);

    .bannerItem {
      width: 100%;
      height: 100%;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.iconLike {
  width: set-vw(20);
  height: set-vw(20);
}
