@import '@styles/variables';

.master-info-form {
  &-title {
    background: $mercury;
    padding: 8px 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $black;
  }

  &-body {
    padding: 20px;
    background-color: $alabaster;
  }

  &-actions {
    border-top: solid 1px $silver;
    text-align: center;
    padding-top: 20px;
  }

  &-row {
    display: flex;
    justify-content: space-between;
  }

  &-actions {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
