@import "@styles/variables";
@import "@styles/mixins";

.acceptRally {
  margin-bottom: 30px;
  .iframe {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: set-vw(1100);
    max-width: 750px;
    height: set-vw(1400);
  }

  .divider {
    margin: 0;
    background-color: $gallery;
    margin-top: 20px;
    width: calc(100% + 180px);
    margin-left: (-90px);
  }
}
@media screen and (max-width: 768px) {
  .acceptRally {
    .iframe {
      width: 100%;
      // width: set-vw(700);
      height: set-vw(1000);
    }
    .divider {
      width: calc(100% + 40px);
      margin-left: (-20px);
    }
  }
}

.isTop.acceptRally {
  .iframe {
    width: 100%;
    // width: set-vw(700);
    height: set-vw(1000);
  }
  .divider {
    width: calc(100% + 40px);
    margin-left: (-20px);
  }
}

//   .formContainer {
//     margin-top: 50px;
//     .form {
//       padding: 36px 0 40px;
//       border: 1px solid #cccccc;
//       border-radius: 10px;

//       .formLabel {
//         font-size: 26px;
//         font-weight: bold;
//         line-height: 31px;
//       }
//       .formItem {
//         align-items: center;
//         margin-bottom: 50px;
//         padding: 0 90px 0 40px;
//         :global {
//           .ant-form-item {
//             margin-bottom: 0 !important;
//           }
//           .ant-select {
//             border: 1px solid $border-color-primary !important;
//             border-radius: 5px;
//             max-width: 320px;
//           }
//           .ant-form-item-label > label::after {
//             display: none;
//           }
//           .ant-form-item-control-input-content input {
//             height: 60px;
//             font-size: 26px;
//             line-height: 26px;
//           }

//           .ant-select-selector {
//             height: 60px;
//           }
//           .ant-select-selection-item,
//           .ant-select-selection-placeholder {
//             font-size: 26px;
//             font-weight: 400;
//             line-height: 60px;
//           }
//         }
//         .spanDate {
//           display: flex;
//           justify-content: center;
//           padding-top: 10px;
//           font-size: 26px;
//         }
//         .radioGroup {
//           display: flex;
//           align-items: center;
//           :global {
//             .ant-radio-wrapper {
//               font-size: 26px;
//               align-items: center;
//               &:not(:last-child) {
//                 margin-bottom: 0;
//               }
//               .ant-checkbox:hover .ant-checkbox-inner,
//               .ant-radio .ant-radio-inner {
//                 border-color: #999;
//               }
//               .ant-checkbox-checked::after,
//               .ant-radio-checked::after {
//                 border-color: #999;
//               }
//               .ant-checkbox-inner,
//               .ant-radio-inner {
//                 border-radius: 50% !important;
//                 width: 22px;
//                 height: 22px;
//                 border: 1px solid #999 !important;
//               }
//               .ant-checkbox-checked .ant-checkbox-inner::after,
//               .ant-radio-checked .ant-radio-inner::after {
//                 display: unset;
//                 margin-top: unset;
//                 margin-left: unset;
//                 border: unset;
//                 width: 10px;
//                 height: 10px;
//                 top: 50%;
//                 left: 50%;
//                 transform: translate(-50%, -50%);
//                 border-radius: 50%;
//                 background-color: #999;
//               }
//             }
//           }
//         }
//         .formListItem {
//           margin-bottom: 20px !important;
//         }
//       }
//       .formArea {
//         margin-bottom: 20px !important;
//         padding: 0 90px 0 40px;

//         :global {
//           .ant-form-item {
//             margin-bottom: 0 !important;
//           }
//           .ant-form-item-control {
//             flex: 0 0 100% !important;
//             max-width: 100% !important;
//           }
//           .ant-form-item-control-input-content textarea {
//             font-size: 26px;
//             line-height: set-vw(31);
//           }
//         }
//       }
//       .labelFormList {
//         margin-bottom: 20px;
//         font-size: 20px;
//       }
//       .addLink {
//         // margin-bottom: 50px;
//         font-size: 24px;
//         font-weight: bold;
//         color: $malibu;
//         cursor: pointer;
//       }
//     }
//     .btnSubmit {
//       display: block;
//       padding: 0 39px;
//       margin: 50px 0;
//       height: 80px !important;
//       background-color: #66ccff;
//       color: $white;
//       font-size: 28px;
//       font-weight: bold;
//       border: unset;
//       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//       border-radius: 8px;
//       transform: translateX(-50%);
//       left: calc(50% + 25px);
//     }
//   }
//   .about {
//     padding-bottom: 30px;
//     p {
//       font-size: 28px;
//       line-height: 28px;
//       margin-bottom: 20px;
//       font-weight: bold;
//     }
//     span {
//       font-size: 18px;
//       line-height: 28px;
//     }
//   }
//   @media screen and (max-width: 768px) {
//     margin-bottom: 10px;
//     .formContainer {
//       margin: 0 -20px 30px;
//       padding: 20px 0 40px;
//       .form {
//         .formLabel {
//           font-size: 16px;
//           line-height: 19px;
//           margin-bottom: 10px;
//         }
//         .formItem {
//           margin-bottom: 30px;
//           padding: 0 20px;
//           :global {
//             .ant-form-item {
//               margin-bottom: 0 !important;
//             }
//             .ant-select {
//               border: 1px solid $border-color-primary !important;
//               border-radius: 5px;
//               max-width: 200px;
//             }

//             .ant-form-item-control-input-content input {
//               height: 44px;
//               font-size: 16px;
//               line-height: 26px;
//             }

//             .ant-select-selector {
//               height: 44px !important;
//             }
//             .ant-select-selection-item,
//             .ant-select-selection-placeholder {
//               font-size: 16px;
//               font-weight: 400;
//               line-height: 44px !important;
//             }
//           }
//           .spanDate {
//             display: flex;
//             justify-content: center;
//             padding-top: 10px;
//             font-size: 16px;
//           }
//           .radioGroup {
//             :global {
//               .ant-radio-wrapper {
//                 font-size: 16px;
//                 line-height: 16px;
//                 margin-right: 30px;
//                 .ant-checkbox-inner,
//                 .ant-radio-inner {
//                   width: 20px;
//                   height: 20px;
//                 }
//               }
//             }
//           }
//           .formListItem {
//             margin-bottom: 20px !important;
//           }
//         }
//         .formArea {
//           padding: 0 20px;
//           :global {
//             .ant-form-item-control-input-content textarea {
//               font-size: 16px;
//               line-height: 19px;
//             }
//           }
//         }
//         .labelFormList {
//           font-size: 16px;
//           line-height: 20px;
//           margin-bottom: 10px;
//         }
//         .addLink {
//           margin-bottom: 40px;
//           font-size: 16px;
//           line-height: 24px;
//         }
//       }
//       .btnSubmit {
//         transform: translateX(-50%);
//         left: 50%;
//       }
//       .about {
//         p {
//           font-size: 20px;
//           line-height: 20px;
//         }
//         span {
//           font-size: 16px;
//         }
//       }
//     }
//   }
//   @media screen and (max-width: 375px) {
//     .iframe {
//       // width: set-vw(600);
//     }
//   }
// }
