@import "@styles/variables";
@import "@styles/mixins";

.series {
  background-color: $white;
}

.seriesContent {
  padding: set-vw(37) set-vw(30) set-vw(30) set-vw(23);
  border-bottom: solid 1px $silver;
}

.seriesTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: set-vw(20);

  .title {
    font-weight: 700;
    @include fs-vw(28);
    color: $text-color;
    margin: 0;
  }

  .icCopy {
    width: set-vw(34);
    height: set-vw(34);
  }
}

.tags {
  display: flex;
  gap: set-vw(20);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: set-vw(37);
  margin-bottom: set-vw(14);

  .tag {
    font-style: normal;
    font-weight: bold;
    color: $malibu;
    @include fs-vw(24);
    white-space: nowrap;
    cursor: pointer;
  }
}

.reaction {
  display: flex;
  gap: set-vw(20);
  align-items: center;

  .reactionItem {
    display: flex;
    align-items: center;
  }

  .reactionIcon {
    width: set-vw(30);
    height: set-vw(30);
    margin-right: set-vw(10);
  }

  .reactionLabel {
    color: $black;
    @include fs-vw(20);
    font-weight: bold;
  }
}

.shareWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .share {
    background-color: $black;
    color: $white;
    border-radius: set-vw(8);
    padding: set-vw(7) set-vw(10);
    cursor: pointer;

    .icShare {
      width: set-vw(24);
      height: set-vw(24);
      margin-left: set-vw(10);
    }
  }
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: set-vw(30);
  padding-bottom: set-vw(20);

  .userName {
    margin-left: set-vw(10);
    margin-right: set-vw(30);
    @include fs-vw(20);
    font-weight: 700;
  }

  .follow {
    background-color: $black;
    color: $white;
    border-radius: set-vw(8);
    padding: set-vw(7) set-vw(10);
    cursor: pointer;
  }

  .avt {
    width: set-vw(60);
    height: set-vw(60);
    border-radius: 50%;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
