@import "@styles/variables";
@import "@styles/mixins";

.rally {
  background-color: $white;
}

.rallyContent {
  padding: set-vw(37) set-vw(30) set-vw(30) set-vw(23);
}

.rallyTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .title {
    font-weight: 700;
    @include fs-vw(28);
    color: $text-color;
    margin: 0;
  }

  .icBack {
    width: set-vw(14);
    height: set-vw(20);
    position: absolute;
    left: 0;
    cursor: pointer;
  }
}

.tags {
  display: flex;
  gap: set-vw(20);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: set-vw(37);
  margin-bottom: set-vw(14);

  .tag {
    font-style: normal;
    font-weight: bold;
    color: $malibu;
    @include fs-vw(24);
    white-space: nowrap;
    cursor: pointer;
  }
}

.reaction {
  display: flex;
  gap: set-vw(20);
  align-items: center;

  .reactionItem {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .reactionIcon {
    width: set-vw(30);
    height: set-vw(30);
    margin-right: set-vw(10);
  }

  .reactionLabel {
    color: $black;
    @include fs-vw(20);
    font-weight: bold;
  }
}

.shareWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .share {
    background-color: $black;
    color: $white;
    border-radius: set-vw(8);
    padding: set-vw(7) set-vw(10);
    cursor: pointer;

    .icShare {
      width: set-vw(24);
      height: set-vw(24);
      margin-left: set-vw(10);
    }
  }
}

.rallyImage {
  width: 100%;
  height: set-vw(422);
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: set-vw(20);
  bottom: set-vw(20);
  background-color: $white;
  padding: set-vw(10);
  border-radius: 8px;

  .userName {
    margin-left: set-vw(10);
    margin-right: set-vw(30);
    @include fs-vw(20);
    font-weight: 700;
  }

  .follow {
    background-color: $black;
    color: $white;
    border-radius: set-vw(8);
    padding: set-vw(7) set-vw(10);
    cursor: pointer;
  }

  .avt {
    width: set-vw(60);
    height: set-vw(60);
    border-radius: 50%;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}

.seriInfo {
  background-color: $white;
  padding: 0 set-vw(30);
  position: relative;
  margin-bottom: set-vw(30);
  .list {
    :global {
      .ant-list-pagination {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: set-vw(30) 0;
        border-top: 1px solid $border-color-primary;
        .ant-pagination-prev {
          display: none;
        }
        .ant-pagination-item {
          border: unset;
          font-weight: bold;
          height: set-vw(40);
          min-width: set-vw(40);
          @include fs-vw(28);
          line-height: set-vw(40);
          border-radius: unset;
          a {
            color: $black;
          }
          &.ant-pagination-item-active {
            background-color: $border-color-primary;
            a {
              color: $white;
            }
          }
        }
        .ant-pagination-next {
          display: none;
        }
      }
    }
  }
}

.rallyRow {
  display: flex;
  align-items: center;
  padding: set-vw(25) 0;
  border-bottom: solid 1px $border-color-primary;

  &:last-child {
    border-bottom: none;
  }

  border-bottom: solid 1px $silver;
  .textHistory {
    @include fs-vw(26);
    font-weight: 400;
    min-width: set-vw(200);
  }
  .textHistoryContent {
    @include fs-vw(26);
  }
  .detailBtn {
    background: $black;
    color: $white;
    margin-left: set-vw(20);
    @include fs-vw(22);
    padding: set-vw(7);
    border-radius: set-vw(8);
  }
}

.seriInfoTitle {
  font-weight: 700;
  @include fs-vw(28);
  border-left: solid set-vw(4) $malibu;
  padding-left: set-vw(10);
}

.rallyLabel {
  font-weight: 700;
  @include fs-vw(28);
  width: set-vw(200);
  padding-left: set-vw(10);
  min-width: set-vw(250);
}

.rallyLabelPrimary {
  @include fs-vw(26);
  line-height: set-vw(26);
  display: flex;
  align-items: center;
}

.rallyText {
  font-weight: 400;
  @include fs-vw(26);
  flex: 1;
}

.btnParticipation {
  position: absolute;
  bottom: set-vw(100);
  right: set-vw(50);
}

.rallyDescription {
  padding: set-vw(24) set-vw(30);
  background-color: $white;
  margin-bottom: set-vw(26);
  margin-top: set-vw(30);

  .rowTitle {
    display: flex;
    align-items: center;
    border-bottom: solid 1px $silver;
    padding-bottom: set-vw(20);
  }
  .title {
    font-weight: 700;
    color: $text-color;
    margin-bottom: 0;
    margin-top: set-vw(6);
    flex: 1;
    @include fs-vw(26);
    border-left: solid set-vw(4) $malibu;
    padding-left: set-vw(10);
  }
  .content {
    font-weight: 400;
    color: $text-color;
    margin-top: set-vw(20);
    padding-left: set-vw(16);
    @include fs-vw(26);
    white-space: break-spaces;
  }
}

.rallyCoupon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  .rallyCouponBtn {
    font-weight: 400;
    @include fs-vw(24);
    line-height: set-vw(30);
    padding: set-vw(2) set-vw(8);
    background-color: $black;
    color: $white;
    cursor: pointer;
    border-radius: set-vw(4);
  }
}
