@import "@styles/variables";
@import "@styles/mixins";

.list {
  padding-bottom: 20px;
  .listItem {
    padding: 0;
    min-height: set-vw(60);
    display: flex;
    align-items: center;
    margin: 0 set-vw(30);
    border-bottom: 1px solid $border-color-primary;
    &:first-child {
      border-top: 1px solid $border-color-primary;
    }
    :global {
      .ant-list-item-extra {
        margin: 0;
      }
      .ant-list-item-main {
        padding: set-vw(22) 0;
        color: $black;
        @include fs-vw(24);
        font-weight: bold;
      }
    }
    .image {
      width: set-vw(40);
      cursor: pointer;
    }
    .itemName {
      cursor: pointer;
      color: $text-color;
    }
  }
  :global {
    .ant-list-pagination {
      display: flex;
      justify-content: center;
      .ant-pagination-prev {
        display: none;
      }
      .ant-pagination-item {
        border: unset;
        font-weight: bold;
        height: set-vw(40);
        min-width: set-vw(40);
        @include fs-vw(28);
        line-height: set-vw(40);
        border-radius: unset;
        a {
          color: $black;
        }
        &.ant-pagination-item-active {
          background-color: $border-color-primary;
          a {
            color: $white;
          }
        }
      }
      .ant-pagination-next {
        display: none;
      }
    }
  }
}
