@import "@styles/variables";
@import "@styles/mixins";

.container {
  padding: set-vw(30);
  padding-top: set-vw(20);
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  // margin-top: set-vw(58);
  .infiniteScroll {
    overflow: unset !important;
  }
  .descNoneResult {
    margin-top: set-vw(169);
    text-align: center;
    @include fs-vw(26);
    line-height: set-vw(26);
    color: $black;
  }
}
