@import "@styles/variables";
@import "@styles/mixins";
.container {
  // padding: set-vw(30);
  padding-bottom: set-vw(30) !important;
  padding: set-vw(20) set-vw(34);
  background-color: $white;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  .infiniteScroll {
    overflow: unset !important;
  }
  .descNoneResult {
    margin-top: set-vw(169);
    text-align: center;
    @include fs-vw(26);
    line-height: set-vw(26);
    color: $black;
  }

  .rallyListTitle {
    padding-bottom: set-vw(21);
    border-bottom: solid 1px $border-color-primary;

    span {
      padding-left: set-vw(10);
      border-left: solid 2px $malibu;
      @include fs-vw(28);
      font-weight: bold;
    }

    b {
      color: $malibu;
    }
  }
}

.listEmpty {
  :global {
    .ant-empty-normal {
      display: none;
    }
    .ant-list-pagination {
      display: none !important;
    }
  }
}

.list {
  .rallyItem {
    padding: set-vw(20) set-vw(7) set-vw(20) 0;
    border-bottom: solid 1px $border-color-primary;
    display: flex;
    align-items: center;
    gap: set-vw(20);
    // justify-content: space-between;

    &:last-child {
      border-bottom: none;
    }
    .finished {
      display: flex;
      align-items: center;
      font-weight: 700;
      @include fs-vw(14);
      background: #fffa91;
      height: set-vw(128);
      padding: 0 set-vw(15);
      text-align: center;
    }

    .noFinished {
      display: flex;
      align-items: center;
      font-weight: 700;
      @include fs-vw(14);
      height: set-vw(128);
      padding: 0 set-vw(15);
      text-align: center;
    }

    .rallyTitleInfo {
      display: flex;
      align-items: center;
      margin-bottom: set-vw(14);
      cursor: pointer;

      .rallyTitle {
        margin: 0;
        @include fs-vw(26);
        font-weight: bold;
        color: $text-color;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        white-space: unset;
        overflow: hidden;
      }

      .icCheck {
        width: set-vw(29);
        height: set-vw(18);
        margin-right: set-vw(17);
      }
    }

    .rallyInfo {
      display: flex;
      gap: set-vw(15);

      span {
        font-weight: 400;
        @include fs-vw(22);
      }
    }
    .tagList {
      margin-bottom: set-vw(15);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      white-space: unset;
      overflow: hidden;
      color: $malibu;
      .tagItem {
        margin-right: set-vw(30);
        @include fs-vw(24);
        font-weight: bold;
        cursor: pointer;
      }
    }
    .bottom {
      display: flex;
      margin: set-vw(30) 0 set-vw(10);
      .bottomItem {
        display: flex;
        align-items: center;
        padding: 0 10px;
        height: set-vw(20);
        img {
          width: set-vw(38);
          margin-right: 5px;
        }
        span {
          color: $malibu;
          @include fs-vw(24);
          font-weight: bold;
        }
        &:first-child {
          padding-left: 0;
        }
        &:not(:last-child) {
          margin-right: set-vw(40);
        }
      }
      .favorite {
        cursor: pointer;
      }
    }
    .icGoDetail {
      width: set-vw(14);
      height: set-vw(20);
      cursor: pointer;
    }
  }

  :global {
    .ant-list-pagination {
      display: flex;
      justify-content: center;
      .ant-pagination-prev {
        display: none;
      }
      .ant-pagination-item {
        border: unset;
        font-weight: bold;
        height: set-vw(40);
        min-width: set-vw(40);
        @include fs-vw(28);
        line-height: set-vw(40);
        border-radius: unset;
        a {
          color: $black;
        }
        &.ant-pagination-item-active {
          background-color: $border-color-primary;
          a {
            color: $white;
          }
        }
      }
      .ant-pagination-next {
        display: none;
      }
    }
  }
}

.goDetail {
  padding: set-vw(15);
}
