@import '@styles/variables';

.custom-form {
  .ant-form-item-explain-error {
    text-align: left !important;
  }
}

.date-range {
  display: flex;
  align-items: center;

  &__separator {
    padding: 0 0.25rem;
  }

  .ant-picker {
    flex: 1 0 0;
  }
}

.hash-tags-input {
  // margin-top: set-vw(20);
  .ant-select-selector {
    padding: 0 8px;
    height: auto !important;
  }
  .ant-select-selection-item-content {
    font-size: 14px;
  }
  .ant-select-selection-item {
    display: flex;
    align-items: center;
    padding: 4px 12px !important;
    height: unset;
    line-height: unset !important;
    border-radius: 4px;
    .ant-select-selection-item-remove {
      position: absolute;
      top: 0;
      right: 2px;
    }
  }
  .ant-select-selection-overflow-item-suffix {
    flex: 1;
    .ant-select-selection-search {
      min-width: 100%;
    }
  }
}
