@import '@styles/variables';

.notification-info {
  &-title {
    background: $mercury;
    padding: 8px 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $black;
  }

  &-body {
    padding: 20px;
    background-color: $alabaster;
  }

  &-actions {
    border-top: solid 1px $silver;
    text-align: center;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .rally {
    &-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: $black;
      margin-top: 27px;
    }
    &-list {
      display: flex;
      flex-wrap: nowrap;
      gap: 20px;
    }

    &-item {
      font-size: 12px;
      line-height: 14px;
      color: $black;
    }
  }
}
