@import "@styles/variables";
@import "@styles/mixins";

.wrapper {
  background-color: $white;
  min-height: 100vh;
}

.icBack {
  width: set-vw(36);
  // height: set-vw(20);
  position: absolute;
  left: set-vw(30);
  // top: set-vw(40);
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: set-vw(26) set-vw(30);
  justify-content: center;
  border-bottom: solid 1px $border-color-primary;
}

.title {
  margin-bottom: 0;
  @include fs-vw(28);
  font-weight: bold;
}
