@import "@styles/variables";
@import "@styles/mixins";

.container {
  padding: set-vw(26) set-vw(30);
  min-height: calc(100vh - set-vw(330));
  margin-top: set-vw(80);
  .body {
    background-color: white;
    padding: set-vw(40) set-vw(35);
    @include fs-vw(26);
    border-radius: set-vw(8);
  }
  .item {
    margin-bottom: set-vw(60);
    .title {
      margin: 0;
      font-weight: 700;
      @include fs-vw(26);
    }
    .content {
      margin-bottom: 0;
      font-weight: 400;
      @include fs-vw(26);
      margin-top: set-vw(20);
    }
  }
  .item:last-child {
    margin-bottom: 0;
  }
}
