@import "@styles/variables";
@import "@styles/mixins";
.spotListModal {
  :global {
    .ant-modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: set-vw(84) set-vw(50) set-vw(90);
    }
  }
  .title,
  .status {
    @include fs-vw(28);
    line-height: set-vw(28);
    font-weight: bold;
    margin-bottom: set-vw(20);
  }
  .description {
    @include fs-vw(26);
    font-weight: normal;
    margin: set-vw(30) 0 set-vw(50);
    text-align: left;
  }

  .btnSubmit {
    min-width: set-vw(300);
    height: set-vw(80) !important;
    background: #fffa91;
    border: set-vw(4) solid #333333;
    & > img {
      width: set-vw(32);
      height: set-vw(20);
      margin-right: set-vw(16);
    }
  }

  .radioGroup {
    margin: set-vw(30) 0;
    display: flex;
    align-items: center;
    width: 100%;
    :global {
      .ant-radio-wrapper {
        margin-bottom: set-vw(25);
        @include fs-vw(26);
        line-height: set-vw(26);
        font-weight: bold;
        .ant-radio .ant-radio-inner {
          border-color: #999;
        }
        .ant-radio-checked::after {
          border-color: #999;
        }
        .ant-radio-inner {
          border-radius: 50% !important;
          width: set-vw(28);
          height: set-vw(28);
          border: 1px solid #999 !important;
        }
        .ant-radio-checked .ant-radio-inner::after {
          display: unset;
          margin-top: unset;
          margin-left: unset;
          border: unset;
          width: set-vw(16);
          height: set-vw(16);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          background-color: #999;
        }
      }
    }
  }
}
