@import "@styles/variables";
@import "@styles/mixins";

.faqItem {
  padding: set-vw(30) set-vw(30);
  background-color: $white;
  margin-bottom: set-vw(26);
}

.faqList {
  padding-top: set-vw(30);
}

.title {
  font-weight: 700;
  color: $text-color;
  margin-bottom: 0;
  margin-top: set-vw(6);
  flex: 1;
  @include fs-vw(26);
  padding-right: set-vw(50);
  padding-left: set-vw(14);
  cursor: pointer;
  display: block;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.content {
  font-weight: 400;
  color: $text-color;
  // padding-left: set-vw(16);
  @include fs-vw(26);
  // padding-right: set-vw(55);
  white-space: pre-wrap;
  padding: min(18.4px, 3.0666666667vw) min(24px, 4vw);
  padding-top: 0;
}

.collapse {
  border: unset;
  background-color: unset;
  border-radius: 0;
  margin-bottom: set-vw(30);
  :global {
    .ant-collapse-item {
      border-bottom: unset;
      .ant-collapse-header {
        background-color: $white;
        border-radius: unset !important;
        line-height: 1;
        padding: set-vw(23) set-vw(30);
        &::after {
          content: "";
          position: absolute;
          height: set-vw(30);
          width: set-vw(4);
          left: set-vw(30);
          top: 50%;
          transform: translateY(-50%);
          background-color: #66ccff;
        }
      }
      .ant-collapse-content {
        border-top: unset;
        border-radius: unset;
        &-box {
          padding: 0;
        }
      }
      .ant-collapse-arrow {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-right: set-vw(12) !important;
      }
    }
  }
  .iconArrow {
    color: $black;
    font-size: set-vw(20) !important;
    right: set-vw(30) !important;
  }
  // .title {
  //   padding-left: set-vw(14);
  //   font-weight: bold;
  //   @include fs-vw(28);
  //   line-height: set-vw(30);
  //   color: $text-color;
  // }
  .subTitle {
    color: $border-color-primary;
    @include fs-vw(28);
    line-height: set-vw(30);
    color: $black;
  }
}
