$font-weight-normal: 500;
$font-weight-bold: 700;

$primary-color: #6396c7;
$secondary-color: #6396c7;
$black: #000;
$text-color: #6d6d6d;
$main-color: #1b335d;
$gray: #838282;
$white: #fff;
$error: #ff0000;
$mercury: #e5e5e5;
$scorpion: #5c5c5c;
$malibu: #66ccff;
$tundora: #434343;
$alabaster: #f8f7f7;
$silver: #c4c4c4;
$thunderbird: #db2f17;
$text-color: #333333;
